USE [master]
GO
/****** Object:  Database [RentalAssignment]    Script Date: 2/02/2021 3:23:54 PM ******/
CREATE DATABASE [RentalAssignment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RentalAssignment_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\RentalAssignment.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RentalAssignment_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\RentalAssignment.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RentalAssignment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RentalAssignment]
GO
/****** Object:  Table [dbo].[CustomerDetails]    Script Date: 2/02/2021 3:23:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerDetails](
	[Cs_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Age] [int] NULL,
	[Contact] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
 CONSTRAINT [PK_CustomerDetails] PRIMARY KEY CLUSTERED 
(
	[Cs_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalDetails]    Script Date: 2/02/2021 3:23:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalDetails](
	[Rn_ID] [int] IDENTITY(1,1) NOT NULL,
	[Cs_ID] [int] NULL,
	[Mv_ID] [int] NULL,
	[BookDate] [varchar](50) NULL,
	[ReturnDate] [varchar](50) NULL,
 CONSTRAINT [PK_RentalDetails] PRIMARY KEY CLUSTERED 
(
	[Rn_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VideoDetails]    Script Date: 2/02/2021 3:23:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoDetails](
	[Vd_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Year] [int] NULL,
	[Plot] [varchar](50) NULL,
	[Makers] [varchar](50) NULL,
	[Charges] [int] NULL,
	[Copies] [int] NULL,
 CONSTRAINT [PK_VideoDetails] PRIMARY KEY CLUSTERED 
(
	[Vd_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
